<header>
    <div id="logo-name"><a href="/">Habfity</a></div>
    <div>
        <ul>
            <li><a href="/users/tracks-habits">Track Habits</a></li>
            <li><a href="/users/recorder">Records</a></li>
        </ul>
    </div>
</header>